@import 'open-props/style';

@layer base.reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(:not(dialog)) {
    margin: 0;
    padding: 0;
  }

  :where(img, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
  }

  :where(a) {
    text-decoration: unset;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  :where(ul) {
    list-style: none;
  }
  :where(button) {
    font-family: inherit;
    cursor: pointer;
    border: unset;
  }
}

@layer base.app {
  :root {
    --nav-block-size: 74px;
  }

  :root,
  [data-theme='light'] {
    color-scheme: light;
    --surface-1: white;
    --text-1: black;
    --link-highlight: var(--indigo-7);
  }

  [data-theme='dark'] {
    color-scheme: dark;
    --surface-1: black;
    --text-1: white;
    --link-highlight: var(--indigo-3);
  }

  body {
    background-color: var(--surface-1);
    color: var(--text-1);
  }

  main {
    display: grid;
    place-items: center;
    min-block-size: calc(100dvb - var(--nav-block-size));
  }

  a {
    font-weight: var(--font-weight-6);
  }
}

/* Global navigation highlight */

@layer base.components.navigation {
  .AboutLink {
    body:has(main.About) & {
      color: var(--link-highlight);
    }
  }

  .ContactLink {
    body:has(main.Contact) & {
      color: var(--link-highlight);
    }
  }

  .HomeLink {
    body:has(main.Home) & {
      color: var(--link-highlight);
    }
  }
}
