.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: var(--nav-block-size);
  padding-inline: var(--size-fluid-3);
  border-bottom: var(--border-size-1) solid var(--text-1);

  ul {
    gap: var(--size-3);
    display: flex;
  }
}
