.Navbar {
  block-size: var(--nav-block-size);
  border-bottom: var(--border-size-1) solid var(--text-1);
  padding-inline: var(--size-fluid-3);

  display: flex;
  justify-content: space-between;

  align-items: center;

  ul {
    gap: var(--size-3);
    display: flex;
  }
}
